#map {
    width: 100vw;
    height: 60vh;
    /*padding: 2rem;*/
    /*margin-top: 1rem;*/
    /*border: 5px solid white;*/
    border-radius: 1rem;
    opacity: 0.9;
}

.hidden {
    display: none;
}