@keyframes background {
    from {
        background-color: white;
        color: black;
    }
    to {
        background-color: #92d9d4;
        color: white;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

.weather {
    display: flex;
    flex-direction: column;
}

.button_weather {
    padding: 1rem;
    border: 4px solid white;
    border-radius: 1rem;
    background-color: white;
    margin-top: 2rem;
    font-size: 1rem;
    opacity:0.9;
}

.button_weather:hover {
    animation: background 1s ease forwards, scaleUp 1s ease-in-out infinite alternate;
}
